.pl, .pl:before, .pl:after {
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.pl {
	margin: 2rem auto 1.5em auto;
	position: relative;
	width: 1.8em;
	height: 1.8em;
}
.pl:before, .pl:after {
	background: currentColor;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	transform-origin: 50% 100%;	
	clip-path: polygon(0 0,100% 0,50% 100%);
	-webkit-clip-path: polygon(0 0,100% 0,50% 100%);
}
.pl-name {
	text-align: center;
}


/* Bow */
.pl-bow {
	animation-name: bowA;
}
.pl-bow:after {
	transform: rotate(180deg);
}
@keyframes bowA {
	from { transform: scale(1,1) rotate(0turn) }
	25%, 35%, 50% { transform: scale(1,1) rotate(0.75turn) }
	30% { transform: scale(1.25,1) rotate(0.75turn) }
	75%, 85%, to { transform: scale(1,1) rotate(1.5turn) }
	80% { transform: scale(1,1.25) rotate(1.5turn) }
}